mcp[server]
pytest
python-dotenv
rich
numpy
pandas
fastmcp
fastapi
uvicorn
yfinance
pandas
numpy
requests
statsmodels
matplotlib
joblib
groq
scikit-learn==1.6.1
fastapi
uvicorn
yfinance
pandas
numpy
requests
statsmodels
matplotlib
joblib
groq
pymongo
sentence-transformers
langchain-core
langchain-groq
python-dotenv
langchain_ollama